{% extends 'base/base.html' %}
{% block titulo_pagina %}Notificaciones{% endblock %}

{% block contenido %}

<div class="container-fluid">
    <div class="container-fluid mt-3">
        <div class="">
            <h1><strong>Notificaciones</strong></h1>
        </div>
        <div class="container-fluid">
        {% for notificacion in notificaciones %}
        <div class="row mt-3">
            <div class="col-3">
                <p class="text-right"><i>{{notificacion.fecha_notificacion}}</i></p>
            </div>
            <div class="col-6 ml-5 text-justify justify-content-center">
                {% if notificacion.telefono != '0' %}
                    <strong>{{notificacion.contraparte}}</strong>&nbsp va a prestarte su &nbsp<strong>{{notificacion.objeto}}</strong>. Aquí tienes su teléfono: {{notificacion.telefono}}
                {% else %}
                    <strong>{{notificacion.contraparte}}</strong>&nbsp quiere pedirte tu &nbsp<strong>{{notificacion.objeto}}</strong>.
                    <div class="col-1 float-right">
                        <form method="POST" action="{% url 'prestar_notificacion' %}">
                        {% csrf_token %}
                            <input type="hidden" name="oferta_id" value="{{notificacion.oferta_id}}"/>
                            <input type="hidden" name="nombre_recibidor" value="{{notificacion.contraparte}}"/>
                            <button class="btn btn-primary">Prestar</button>
                        </form>
                    </div>
              {% endif %}
            </div>
            </div>
        {% endfor %}
    </div>
    </div>
</div>

{% endblock %}