{% extends 'base/base.html' %}
{% block titulo_pagina %}Editar oferta{% endblock %}

{% block contenido %}

<div class="container-fluid">
    <div class="row justify-content-center align-self-center">
        <form method="post">
            {% csrf_token %}
            <div class="form-inline mt-3">
                <label for="imagen">Imagen:</label>
                <input id="imagen-input" class="form-control ml-1" type="text" name="imagen" value="{{oferta.imagen}}" placeholder="Pega la URL de la imagen"/>
                <button class="btn btn-primary ml-2" type="button" id="mostrar-imagen">Mostrar imagen</button>
                <img id ="imagen" class ="img-thumbnail ml-2" width="200" height="20" src="{{oferta.imagen}}"/>
            </div>
            <div class="form-group">
                <small>Si no ves ninguna imagen a la derecha, prueba con otra URL. Una buena foto ayudará a los demás a saber qué ofreces</small>
            </div>
            <div class="form-group"> 
                <label for="titulo">Título:</label>
                <input class="form-control" type="text" name="titulo" value="{{oferta.titulo}}"/>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" name="descripcion" cols="40" rows="5">{{oferta.descripcion}}</textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Crear"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}