{% extends 'base/base.html' %}
{% block titulo_pagina %}Ofertas{% endblock %}

{% block contenido %}
    <!--<div class="float-left">
        <p><strong><h1>Ofertas</h1></strong></p>
    </div>
    <div class="float-right mt-3">
        <a href="{% url 'mis_ofertas' %}"><button class="btn btn-success">Mis ofertas</button></a>
        <a href="{% url 'crear_oferta' %}"><button class="btn btn-primary">Crear oferta</button></a>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <form class="card">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Buscar por título o descripción...">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>-->
    <div class="container-fluid">
    <div class="row mt-3">
        <div class="col-3">
            <strong><h1>Ofertas</h1></strong>
        </div>
            <div class="col-6 mt-2">
            <form method="GET" class="form">
                <div class="input-group input-group-lg">
                    <i class="fas fa-search h4 text-body mt-2"></i>
                    <input type="text" class="rounded ml-2 mr-2 form-control form-control-lg form-control-borderless input-lg w-70" placeholder="Buscar por título o descripción..."/>
                    <select class="rounded">
                    <option disabled selected>Selecciona una provincia</option>
                    <option value=""></option>
                    {% for provincia in buscar_form.provincia %}
                        {{provincia}}
                    {% endfor %}
                    </select>
                    <span class="ml-3 input-group-btn">
                        <button class="btn btn-lg btn-success" type="submit">Buscar</button>
                    </span>
                  </div>
            </form>
        </div>
        <div class="col-2 float-right ml-5 mt-3">
        
            <a href="{% url 'mis_ofertas' %}"><button class="btn btn-success">Mis ofertas</button></a>
       
        
            <a href="{% url 'crear_oferta' %}"><button class="btn btn-primary">Crear oferta</button></a>
        
    </div>
    </div>
    <div class="container-fluid infinite-container">
        {% for oferta in ofertas %}
        <div class="container d-flex mt-5 infinite-item">
            <div class="float-left col-sm-2">
                <a href="{% url 'mostrar_oferta' oferta_id=oferta.id %}">
                    <img class ="img-thumbnail" width="200" height="20" src="{{oferta.imagen}}"/>
                </a>
            </div>
            <div class="col-sm-4 d-flex flex-column">
                <a href="{% url 'mostrar_oferta' oferta_id=oferta.id %}">
                    <span class="align-text-top"><strong>{{oferta.titulo}}</strong></span>
                </a>
                <span class="align-text-bottom mt-1">{{oferta.usuario.user.username}}-<i>{{oferta.fecha_publicacion}}</i></span>
                <span class="align-text-bottom mt-1">En <strong>{{oferta.provincia}}</strong></span> 
            </div>
            <div class="col-sm-4 justify-content-center text-justify">
                <span class="align-middle mt-1">{{oferta.descripcion | truncatewords:20}}</span>
            </div>
            {% if user != oferta.usuario.user%}
            <div class="float-right col-sm-2">
                <form action="{% url 'solicitar_oferta' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="oferta_id" value="{{oferta.id}}"/>
                    <button type="submit" class="btn btn-success">Solicitar</button>
                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="col-12 mt-3 mb-3 text-center">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        <div class="d-flex justify-content-center" style="display:none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}