{% extends 'base/base.html' %}
{% block titulo_pagina %}Mis Ofertas{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="float-left">
        <p><strong><h1>Mis Ofertas</h1></strong></p>
    </div>
    <div class="float-right mt-3">
        <a href="{% url 'crear_oferta' %}"><button class="btn btn-primary">Crear oferta</button></a>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <form class="card">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Buscar por título o descripción...">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        {% for oferta in ofertas %}
        <div class="container d-flex mt-5">
            <div class="float-left col-sm-2">
                <a href="{% url 'mostrar_oferta' oferta_id=oferta.id %}">
                    <img class ="img-thumbnail" width="200" height="20" src="{{oferta.imagen}}"/>
                </a>
            </div>
            <div class="col-sm-4 d-flex flex-column">
                <a href="{% url 'mostrar_oferta' oferta_id=oferta.id %}">
                    <span class="align-text-top"><strong>{{oferta.titulo}}</strong></span>
                </a>
                <span class="align-text-bottom mt-1">{{oferta.usuario.user.username}}-<i>{{oferta.fecha_publicacion}}</i></span>
                <span class="align-text-bottom mt-1">En <strong>{{oferta.provincia}}</strong></span>  
            </div>
            <div class="col-sm-4 text-justify">
                <span class="align-middle">{{oferta.descripcion | truncatewords:20}}</span>
            </div>
            <div class="col-sm-2 d-flex flex-column align-items-center">
                <a href="{% url 'editar_oferta' oferta_id=oferta.id %}"><button class="btn btn-primary align-text-top">Editar oferta</button></a>
                <form method="post" action="{% url 'borrar_oferta' %}">
                    {% csrf_token %}
                    <input type="hidden" name="oferta_id" value="{{oferta.id}}"/>
                    <button type="submit" class="btn btn-danger align-text-bottom mt-1">Eliminar oferta</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}